.App {
  text-align: center;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background: #f9f9f9;
}

/**** HEADLINE ****/
#headline {
  height: 40px;
  background: #f9f9f9;
  text-align: center;
  line-height: 40px;
}

#headline h4 {
  margin: 0px;
}

/**** HEADER IMAGE ****/
#header {
  background-image: url(../../images/classroom.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  padding: 20px;
  color:#f0f0f0;
  position: relative;
}

.App-title {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);  
  transform: translate(-50%, -60%);
  text-shadow: black -5px 2px 6px;
}
 #links {
   position: absolute;
   right: 20px;
   bottom: 0px;
   display: flex;
   width: 100px;
   justify-content: space-between;
   text-decoration: none;
 }

 a {
   text-decoration: none;
   color: #f0f0f0;
 }

/**** PAPER CONTAINER ****/
.paperContainer {
  width: 30%;
  min-width: 200px;
  margin: auto;
  padding: 50px;
}

@media (max-width: 1200px) {
  .paperContainer {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .paperContainer {
    width: 80%;
  }
}

.paperContents {
  padding: 15px;
}

/**** REVIEW ****/
.reviewResults {
  display: flex;
  justify-content: space-around;
}

/**** STEPPER ****/
.MuiPaper-root {
  min-width: 350px;
}

.stepperContainer {
  width: 60%;
  margin: auto;
}

/**** ADMIN ****/

.admin {
  width: 60%;
  margin: auto;
}

@media (max-width : 1500px) {
  .stepperContainer, .admin {
    width: 85%;
  }
}

@media (max-width : 1000px) {
  .stepperContainer, .admin {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .stepperContainer {
    display: none;
  }
}


